@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;

}

.hav{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    
 
}


.container {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 10px;
    padding-top: 20px;
    width: 1200px;
    margin: 0 auto;
}

input{
    padding: 8px;
    border: none;
    border-radius: 17px;
    width: 200px;
    margin-top: 5px;
}

.infocircle{
    width: 120px;
}

.formulario {
    background: white;
    padding: 20px;
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 5px;
}
h2{
    display: flex;
    justify-content: center;
    justify-content: start;
}

.boton{
    background: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color:black;
  
}


.info{
    padding: 5px;
}


.card {
    background: white;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 5px;
}

.card img{
    width: 320px;
    height: auto;
    padding: 10px;
    border-radius: 15px;

}
.evento{
    padding-top: 15px;
}
.todora{
    padding: 5px;
    font-size: 15px;
}

.boton1{
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    color:white;
}

.evento{
    display: flex;
    justify-content: space-between;
}
